<!DOCTYPE html>
<html>
  <head>
    <title>게시판 상세페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='post_page.css') }}" />
  </head>
  <body>
    <div class="post_page">
      <h2>게시판</h2>
      <hr class="hr" />
      <div class="title">
        <p>제목</p>
      </div>
      <hr class="hr" />
      <div class="info">
        <div class="writer">
          <p>작성자</p>
        </div>
        <div class="date">
          <p>작성일</p>
        </div>
        <div class="view">
          <p>조회수</p>
        </div>
        <div class="question">
          <p>댓글</p>
        </div>
      </div>
      <hr class="hr" />
      <div class="content">
        <p>본문</p>
      </div>
      <hr class="hr" />
      <div class="comment">
        <textarea placeholder="댓글을 입력하세요"></textarea>
        <div class="comment-result">
          <button class="comment-button">등록</button>
          <button class="cancel-button">취소</button>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='post_page.js') }}"></script>
  </body>
</html>
